* {
	font-family: 'Press Start 2P', cursive;
	box-sizing: border-box;
}
body {
	background-color: #4c5454;
	text-align: center;
}

table {
	height: 600px;
	width: 600px;
	margin: 20px auto;
	text-align: center;
	font-size: 100px;
}

td,
tr{
	border-radius: 5px;
	border: 5px solid black;
	opacity: .5;
	background-color: white;
	padding: 0;
}
td {
	height: 197px;
	width: 197px;
}

td:hover {
	opacity: 1;	
}

p {
	color: white;
}

.x:before {
	content: "X";
	color: #1ea896;
}

.o:before {
	content: "O";
	color: #ff751b;

}

.player {
	text-align: center;
	margin: 10px;
	display: inline-block;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

.active {
	background-color: orange;
}

.box {
	text-align: center;
}

#reset {
	color: #4c5454;
	background-color: #ff751b;
	border-radius: 5px;
	height: 30px;
	width: 600px;
}









